.preloader{
	background: #D51731;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 9;
	transition: 1s all;
	opacity: 1;
	visibility: visible;

}
	.done {
		visibility: hidden;
		opacity: 0;
	}

	.loader{
		width: 75px;
		height: 75px;
		border: 10px solid #FFF3E6;
		border-radius: 50%;
		border-top-color: #D51731;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		animation: 2s spin infinite linear; 
	}


@keyframes spin {
	from{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}