ul,body{
	padding:0;
	margin:0;
}

ul{
	font-size: 0;
}

*{
	font-family: 'Roboto', sans-serif;
}

/*menu*/

.menu ul>li>a{
	text-transform: uppercase;
	text-decoration: none;
	color:#FFF3E6;
	font-size: 16px;
	padding:0 20px;
	height: 100px;
	line-height: 100px;
	display: inline-block;
	transition: 1.5s;
} 

.menu a:hover{
	color:#D51731;
	background: #FFF3E6;
}

.menu ul>li{
	list-style: none;
	display: inline-block;
}  	

.menu{
	text-align: center;
	background: #D51731;
}

/*home*/

.home{
	background: #D51731;
	height: 500px;
	box-sizing: border-box;
	display: -webkit-flex;
	-webkit-align-content:center;
	box-shadow: 0 2px #C1BFC2;
	position: relative;
	z-index: 5;
}

.content{
	display: -webkit-flex;
	-webkit-align-items:center;
	-webkit-justify-content:center;
	width:1060px;
	margin:0 auto;
}

.home__text{
	color:#FFF3E6;
	font-size: 60px;
	font-weight:bold;
}

.home__text span{
	font-size: 20px;
	text-align: center;
}

.home__border{
	margin-right: 80px;
	border:solid 20px #FFF3E6;
	border-radius: 200px;
    height: 200px;
    width: 200px;
    background: url(img/av.jpg) no-repeat left center / cover;
}

/*about*/

.about{
	background:#FFF3E6; 
	height: 570px;
	box-sizing: border-box;
	display: -webkit-flex;
	-webkit-align-content:center;
	box-shadow: 0 2px #C1BFC2;
	position: relative;
	z-index: 4;
}

.about__text{
	font-size: 30px;
	font-weight: bold;
	color:#D51731; 
}

.about__text:first-child::after{
	content:'';
	margin:0 30px;
	padding: 20% 0;
	border-left: 3px solid lightgrey;
}

/*portfolio*/

.portfolio{
	background: #D51731;
	height: 570px;
	box-sizing: border-box;
	display: -webkit-flex;
	-webkit-align-content:center;
	box-shadow: 0 2px #C1BFC2;
	position: relative;
	z-index: 3;
}

.portfolio img{
    height: 570px;
    align-self: center;
}

.portfolio__text{
	font-size: 30px;
	font-weight: bold;
	color:#FFF3E6;
}

/*contact*/

.contact{
	background:#FFF3E6; 
	height: 570px;
	box-sizing: border-box;
	display: -webkit-flex;
	-webkit-flex-flow:column wrap;
	-webkit-align-items:center;
	-webkit-justify-content:center;
	box-shadow: 0 2px #C1BFC2;
	position: relative;
	z-index: 2;
}

.contact__text{
	color:#D51731;
	font-size: 60px;
	font-weight:bold;
}

.footer{
	display: -webkit-flex;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	height: 90px;
	font-size: 16px;
	background:#D51731;
	color:#FFF3E6;
}

.contact__icons img{
	height:80px;
	margin:0 20px;
}

/*delete before final*/

.wrapper{
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content:center;
	-webkit-flex-flow: column wrap;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 50px;
	font-weight: bold;
	background: rgba(0,0,0,0.5);
}